* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #DEB887;
    text-align: center;
    border-radius: 5px;
}

.header-title {
    color: black;
    font-size: 2rem;
    margin-top: 20px;
    padding: 20px;    
}

main, section {   
    width: 100%;
    margin: 5vh auto;
    padding: 50px;
    box-shadow: 2px 2px 10px #CCC;
    gap: 20px;
    border-radius: 5px;
}

.table {
    table-layout: fixed;
    margin-top: 50px;
}

.table-responsive {
    width: 100%;
    text-align: center;
}

.botoes {
    display: flex;
    justify-content: space-between;
}

#btn-cadastrar{
    width: 20%;
    background-color: #DEB887;  
}

#btn-ok {
    width: 100%;
    background-color: #DEB887;
}

.livro-pesquisado {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.btn-edit {
    width: 35%;
    border-radius: 5px;
    background-color: green;
    color: white;
    border: none;
    padding: 5px;
}

.btn-delete {
    width: 35%;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
}

.div-filt-cons {
    display: flex;
    justify-content: space-between;
}

.div-filtrar {
    display: flex;
}

footer {
    display: flex;
    justify-content: center;
}

#btnFiltrarGenero {
    background-color: #DEB887;
    margin-left: 10px;
}

#consultar {
    background-color: #DEB887;
}